[Unit]
Description=Share your terminal as a web application

[Service]
ExecStart=/usr/bin/gotty -w ssh alarm@localhost

[Install]
WantedBy=multi-user.target
